<h1>New Recipe</h1>

<%= form_tag "/recipes", method: :post do %>
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    Ingredients: <input type="text" name="ingredients">
  </div>
  <div>
    Prep Time: <input type="text" name="prep_time">
  </div>
  <div>
    Image: <input type="text" name="image">
  </div>
  <div>
    <input type="submit" name="Create Recipe">
  </div>
<% end %>